@using MedicalClinic.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)" id="your_account_li"><a asp-action="Index">Edycja profilu</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="your_account_li"><a asp-action="ChangePassword">Zmiana hasła</a></li>
</ul>