
@{
    ViewData["Title"] = "Regulamin";
}

<h2>Regulamin</h2>
<p style="font-size: 20px; color: red;">Nie oszukujemy</p>
<p style="font-size: 20px; color: red;">Nie kradniemy</p>
<p style="font-size: 20px; color: red;">Nie zabijamy</p>


<a asp-controller="Account" asp-action="Register" class="text_format">Powrót</a>
