@model MedicalClinic.Models.RegisterModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create user</h2>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="UserName">UserName</label>
    <input asp-for="UserName" />

    <label asp-for="Password">Password</label>
    <input asp-for="Password" />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" />

    <input type="submit" value="Wyslij" />
    <input asp-action="Index" value="Cofnij" />
</form>

