@using Microsoft.AspNetCore.Identity
@using MedicalClinic.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="menu-list">
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Profil</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-area="" asp-controller="Admin" asp-action="EditUser" title="">Panel administratora</a></li>
            }
            @if (User.IsInRole("Doctor"))
            {
                 <li><a asp-area="" asp-controller="Doctor" asp-action="Calendar" title="">Panel lekarza</a></li>
            }
            @if (User.IsInRole("Patient"))
            {
                <li><a asp-area="" asp-controller="PatientCard" asp-action="PatientCard" title="">Karta pacjenta</a></li>
                <li><a asp-area="" asp-controller="Patient" asp-action="VisitRegistration" title="">Wizyta</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact" title="">Kontakt</a></li>
            }
            @if (User.IsInRole("Clerk"))
            {
                <li><a asp-area="" asp-controller="Clerk" asp-action="Patients" title="">Pacjenci</a></li>
                <li><a asp-area="" asp-controller="Clerk" asp-action="ConfirmVisit" title="">Wizyty do potwierdzenia</a></li>
            }
            <li><a asp-area="" asp-controller="Message" asp-action="Index" title="">Wiadomości</a></li>
            <li><button type="submit" class="btn-custom">Wyloguj</button></li>
        </ul>
    </form>
}
else
{
    <ul class="menu-list">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
        <li><a asp-area="" asp-controller="Message" asp-action="SendMessageToAllClerk">Kontakt nowy</a></li>
    </ul>
}
