@model MedicalClinic.Models.MessageViewModels.MessageViewModel

@{
ViewData["Title"] = "Wyślij wiadomość";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Utwórz nową wiadomość</h2>

<hr />
<div class="row">
    <div class="col-md-4" id="contact_form">
        <form asp-action="SendPrivateMessage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="sender_data">
                <label asp-for="ReceiversEmail" class="control-label"></label>
                <select asp-for="ReceiverEmail" asp-items="Model.ReceiversEmail" class="form-control"></select>
                <span asp-validation-for="ReceiversEmail" class="text-danger"></span>
            </div>
            <div class="form-group" id="sender_data">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="send_button" type="submit" ><span>Wyślij </span></button>
            </div>
        </form>
    </div>
</div>

<div>
    <br/><a asp-action="Index" class="text_format">Powrót do wiadomości</a>
</div>

