body {
    font-family: Arial;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 40px;
}

header {
    background: linear-gradient(white -50%, #0f5e6a 150%);
    color: #0f5e6a;
    text-shadow: 1px 1px 10px white;
    padding: 15px 0 15px 0;
    height: 60px;
    z-index: 1;
}

    header a {
        color: #0f5e6a;
        font-size: 150%;
        font-weight: 700;
    }

        header a:active,
        header a:hover {
            color: #0f5e6a;
            text-decoration: none;
            text-shadow: none;
        }

.menu {
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #4c878f;
    padding: 0;
    margin: 0;
}

.btn-menu-slide {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border: 0;
    padding: 20px 20px;
    color: #0f5e6a;
    background-color: transparent;
    text-align: center;
}

.menu .menu-list a {
    display: block;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.menu a:active,
.menu a:hover {
    text-decoration: none;
}

.menu .menu-list a:active,
.menu .menu-list a:hover {
    background: #4c878f;
    box-shadow: inset 0 0 20px #105e6a;
}

.menu-list {
    padding: 0;
    margin: 0;
}

.menu .menu-list > li {
    list-style: none;
    font-size: 120%;
    border-bottom: 1px solid #6799a0;
}

.menu .btn-custom {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    color: white;
    background-color: #4c878f;
    text-align: center;
    border: 0;
}

    .menu .btn-custom:hover {
        background: #4c878f;
        box-shadow: inset 0 0 20px #105e6a;
    }


.menu .menu-dropdown {
    background-color: #10434b;
    display: none;
    font-size: 70%;
}

    .menu .menu-dropdown a:active,
    .menu .menu-dropdown a:hover {
        background: #10434b;
        box-shadow: inset 0 0 20px #0f2a2e;
    }

    .menu .menu-dropdown .btn-custom {
        background-color: #4c878f;
    }

        .menu .menu-dropdown .btn-custom:hover {
            box-shadow: inset 0 0 20px #0f2a2e;
        }

.menu .menu-list {
    border-top: 1px solid #6799a0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-top: 40px;
    background: linear-gradient(white -50%, #0f5e6a 150%);
    color: #0f5e6a;
    text-shadow: 1px 1px 10px white;
    text-align: center;
}

.content p {
    margin: 20px 0;
}

@media (min-width: 992px) {
    .form-group {
        width: 40%;
    }

    .content {
        margin: 10px 50px;
    }

    header {
        position: fixed;
        width: 15vw;
        text-align: center;
    }

    .menu-container {
        height: 500px;
        overflow: hidden;
    }

    .menu {
        width: 15vw;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    header {
        padding-left: 2%;
    }

    .menu {
        position: relative;
        display: none;
        top: 0;
    }

    .btn-menu-slide {
        display: inline;
    }

    .table{
        font-size: 70%;
    }
}
