body {
    font-family: Arial;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 40px;
}

header {
    background: linear-gradient(white -50%, #0f5e6a 150%);
    color: #0f5e6a;
    text-shadow: 1px 1px 10px white;
    padding: 15px 0 15px 0;
    height: 60px;
    z-index: 1;
}

    header a {
        color: #0f5e6a;
        font-size: 150%;
        font-weight: 700;
    }

        header a:active,
        header a:hover {
            color: #0f5e6a;
            text-decoration: none;
            text-shadow: none;
        }

.menu {
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #4c878f;
    padding: 0;
    margin: 0;
}

.btn-menu-slide {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border: 0;
    padding: 20px 20px;
    color: #0f5e6a;
    background-color: transparent;
    text-align: center;
}

.menu .menu-list a {
    display: block;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.menu a:active,
.menu a:hover {
    text-decoration: none;
}

.menu .menu-list a:active,
.menu .menu-list a:hover {
    background: #4c878f;
    box-shadow: inset 0 0 20px #105e6a;
}

.menu-list {
    padding: 0;
    margin: 0;
}

.menu .menu-list > li {
    list-style: none;
    font-size: 120%;
    border-bottom: 1px solid #6799a0;
}

.menu .btn-custom {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    color: white;
    background-color: #4c878f;
    text-align: center;
    border: 0;
}

    .menu .btn-custom:hover {
        background: #4c878f;
        box-shadow: inset 0 0 20px #105e6a;
    }


.menu .menu-dropdown {
    background-color: #10434b;
    display: none;
    font-size: 70%;
}

    .menu .menu-dropdown a:active,
    .menu .menu-dropdown a:hover {
        background: #10434b;
        box-shadow: inset 0 0 20px #0f2a2e;
    }

    .menu .menu-dropdown .btn-custom {
        background-color: #4c878f;
    }

        .menu .menu-dropdown .btn-custom:hover {
            box-shadow: inset 0 0 20px #0f2a2e;
        }

.menu .menu-list {
    border-top: 1px solid #6799a0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-top: 40px;
    background: linear-gradient(white -50%, #0f5e6a 150%);
    color: #0f5e6a;
    text-shadow: 1px 1px 10px white;
    text-align: center;
}

.content p {
    margin: 20px 0;
}

@media (min-width: 992px) {
    .form-group {
        width: 50%;
    }

    .content {
        margin: 10px 50px;
    }

    header {
        position: fixed;
        width: 15vw;
        text-align: center;
    }

    .menu-container {
        height: 500px;
        overflow: hidden;
    }

    .menu {
        width: 15vw;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    header {
        padding-left: 2%;
    }

    .menu {
        position: relative;
        display: none;
        top: 0;
    }

    .btn-menu-slide {
        display: inline;
    }

    .table{
        font-size: 70%;
    }
}

#contact_form {
    width: 50%;
    min-width: 100px;
    padding: 10px;
    background: linear-gradient(#4c878f -40%, #fff 100%);
    border: 1px solid #808080;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#sender_data{
    width: 70%;
}

#message_topic {
    width: 100%;
}

#message_content {
    width: 100%;
    height: 200px;
    max-height: 500px;
    max-width: 100%;
    min-height: 40px;
    min-width: 50%;
}


.send_button {
    background: #6799a0;
    font-size: 12pt;
    padding: 5px 10px;
    border: 2px solid #6799a0;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

    .send_button:hover {
        background: #fff;
        font-size: 12pt;
        color: #6799a0;
        border: 2px solid #4c878f;
        border-radius: 5px;
    }

    .send_button span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .send_button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .send_button:hover span {
        padding-right: 25px;
    }

        .send_button:hover span:after {
            opacity: 1;
            right: 0;
        }

    .send_button:active {
        background-color: #10434b;
        color: #fff;
        transform: translateY(5px);
    }

#your_account_li a {
    color: #0f5e6a;
    font-size: 12pt;
    border: 1px groove;
}

    #your_account_li a:hover {
        background: #6799a0;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 8px;
        transition: 0.5s;
    }

#your_account_li.active > a {
    background: #0f5e6a;
    color: #fff;
}

.contact{
    max-width: 500px;
}

.contact_img_div{
    float: left;
    padding: 8px;
    margin-right: 2px;
}

.contact_img{
    width: 30pt;
    height: 30pt;
}

.contact_text{
    font-size: 15pt;
}

.contact_text2{
    font-size: 15pt;
    padding-top: 11pt;
}

.text_format {
    background: #6799a0;
    font-size: 12pt;
    padding: 5px 10px;
    border: 2px solid #6799a0;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: all 0.5s;
    margin: 5px;
}

    .text_format:hover {
        background: #fff;
        font-size: 12pt;
        color: #6799a0;
        border: 2px solid #4c878f;
        border-radius: 5px;
        text-decoration: none;
    }

    .text_format:active{
        text-decoration: none;
    }

.text_information {
    font-size: 20px;
    color: #6799a0;
}

.text_information:hover{
    text-decoration: none;
}

#visits_div {
    min-width: 200px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #6799a0;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nostyle_ul{
    list-style: none;
}

.doctors_div {
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border: 1px solid #6799a0;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#comment_div {
    border: 1px solid #6799a0;
    border-radius: 5px;
    margin: 1px;
    margin-left: 0;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.2);
}

#table_style {
    border: 1px solid #6799a0;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}