@model MedicalClinic.Models.DoctorViewModels.DiagnosisViewModel

@{
    ViewData["Title"] = "Dodaj diagnozę";
}

<h2>Dodaj diagnozę</h2>

<h3><b>Nowa diagnoza</b></h3>

<div class="container" >
    <div class="row" id="contact_form">
        <form method="post">
            <div class="form-group" id="sender_data">
                <label asp-for="Synopsis"></label>
                <input asp-for="Synopsis" class="form-control" />
            </div>
            <div class="form-group" id="sender_data">
                <label asp-for="Symptoms"></label>
                <textarea asp-for="Symptoms" class="form-control" id="message_content"></textarea>
            </div>
            <div class="form-group" id="sender_data">
                <label asp-for="DeseaseName"></label>
                <input asp-for="DeseaseName" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="AppointmentId"></label>
                <input asp-for="AppointmentId" class="form-control" />
            </div>
            <button type="submit" class="send_button">Dodaj diagnozę</button><br/><br/>
            <a asp-area="" asp-controller="Doctor" asp-action="EditVisit" asp-route-id="@Model.AppointmentId" class="text_format">Powrót</a><br/><br/>
        </form>
    </div>
</div>

