@model MedicalClinic.Models.DoctorViewModels.ReferralViewModel

@{
    ViewData["Title"] = "Dodaj skierowanie";
}

<h2>Dodaj skierowanie</h2>

<h3><b>Nowe skierowanie</b></h3>
<div class="container">
    <div class="row"id="contact_form">
        <form method="post">
            <div class="form-group" id="sender_data">
                <label asp-for="NameOfExamination"></label>
                <input asp-for="NameOfExamination" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="AppointmentId"></label>
                <input asp-for="AppointmentId" class="form-control" />
            </div>
            <button type="submit" class="send_button">Dodaj skierowanie</button><br /><br />
            <a asp-area="" asp-controller="Doctor" asp-action="EditVisit" asp-route-id="@Model.AppointmentId" class="text_format">Powrót</a><br/><br/>
        </form>
        <br />
    </div>
</div>
