@model MedicalClinic.Models.DoctorViewModels.RecipeViewModel

@{
    ViewData["Title"] = "Historia wizyt";
}

<h2>Historia wizyt</h2>

<h3><b>Nowa recepta</b></h3>
<br />
<a asp-area="" asp-controller="Doctor" asp-action="EditVisit" asp-route-id="@Model.AppointmentId">Powrót</a>
<br /><br />
<div class="container">
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label asp-for="ExpDate"></label>
                <input asp-for="ExpDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descrpition"></label>
                <textarea asp-for="Descrpition" class="form-control"></textarea>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AppointmentId"></label>
                <input asp-for="AppointmentId" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Dodaj receptę</button>
        </form>
        <br />
    </div>
</div>
