@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<hr />

<address>
    <div id="address" class="contact">
        01-001 Kraków</br>ul.Krakowska 1
    </div></br>
    <div id="mail" class="contact">kontakt@przychodnia-lekarska.pl</div></br>
    <div id="phone" class="contact">Rejestracja: 12 987 65 43</br>Obsługa klienta: 12 345 67 89</div></br>
    <div id="staff" class="contact">Dyrektor:</br><b>Jan Kowalski</b></br>Telefon: 123 456 789</div></br>
    <p><i>Szczegółowe informacje kontaktowe dostępne będą po zalogowaniu się. W razie pytań lub uwag, zachęcamy do skorzystania z formularza kontaktowego.</i></p>
    <h5>Napisz do nas:</h5></br>
    <div id="contact_form"></div>
</address>
