@{
    ViewData["Title"] = "Informacje kontaktowe";
}
<h2>@ViewData["Title"]</h2>
<hr />

<address>
    <div id="address" class="contact">
        <div class="contact_img_div">
            <img class="contact_img" src="~/images/contact_img_1.svg"/>
        </div>
        <div class="contact_text">01-001 Kraków<br/>ul.Krakowska 1</div>
    </div><br/>

    <div id="mail" class="contact">
        <div class="contact_img_div">
            <img class="contact_img" src="~/images/contact_img_2.svg"/>
        </div>
        <div class="contact_text2">kontakt@przychodnia-lekarska.pl</div>
    </div><br/>

    <div id="phone" class="contact">
        <div class="contact_img_div">
            <img class="contact_img" src="~/images/contact_img_3.svg"/>
        </div>
        <div class="contact_text">Rejestracja: 12 987 65 43</br>Obsługa klienta: 12 345 67 89</div>
    </div></br>

    <div id="staff" class="contact">
        <div class="contact_img_div">
            <img class="contact_img" src="~/images/contact_img_4.svg"/>
        </div>
        <div class="contact_text">Dyrektor: <b>Jan Kowalski</b></br>Telefon: 123 456 789</div>
    </div></br>

    <p style="font-size: 10pt;"><i>Więcej możliwości kontaktowych będzie dostępne po zalogowaniu się. W razie pytań lub uwag, zachęcamy do skorzystania z <a asp-controller="Message" asp-action="SendMessageToAllClerk" style="color: #6799a0">formularza kontaktowego.</a></i></p>
</address>
