@{
    ViewData["Title"] = "Dla pracownika";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h5>Świadczone usługi:</h5>
<ul class="services">
    <li>sprawdzenie kalendarza wizyt</li>
    <li>dostęp do historii choroby danego pacjenta</li>
    <li>wgląd do wyników badań danego pacjenta</li>
    <li>wystawianie recept</li>
    <li>dodawanie wpisów do karty pacjenta</li>
</ul></br>
<p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
