@{
    ViewData["Title"] = "Dla pacjenta";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h5>Świadczone usługi:</h5>
<ul class="services">
    <li>rejestracja na wizytę</li>
    <li>odwołanie wizyty</li>
    <li>dostęp do historii wszystkich swoich działań</li>
    <li>przeglądanie listy lekarzy</li>
    <li>szybki kontakt za pomocą formularza</li>
</ul></br>
<p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
