@{
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="col-md-12">
        <h2>Start</h2>
        <h3><b>Szanowni Państwo,</b></h3>
        <p>serdecznie witamy w systemie obsługi naszej przychodni lekarskiej. Powstał on w związku z troską o klienta, w celu ułatwienia wszystkim użytkownikom korzystania z naszych usług.</p>
        <p>
            Służymy Państwu pomocą już od 2018 roku. W naszej pracy stawiamy przede wszystkim na jakość, jak najlepsze podejście do klienta oraz świadczenie usług tylko w sposób profesjonalny.
            Chcielibyśmy, aby każdy korzystający z sytemu obdarzył nas zaufaniem oraz czuł, że jego życie właśnie stało się prostsze dzięki możliwości zdalnej obsługi.
        </p>
        <p>Dla nas każdy użytkownik jest ważny! Dziękujemy wszystkim, którzy zdecydowali się skorzystać z naszych usług, mamy nadzieję, że będą Państwo usatysfakcjonowani. W razie jakichkolwiek uwag, bardzo prosimy o kontakt.</p>
        <p>
            Aby uzyskać pełen dostęp do serwisu, należy najpierw się zalogować. Jeśli nie posiadają Państwo konta, zachęcamy do rejestracji.
            Zapraszamy do zapoznania się z ofertą świadczonych przez nas usług poniżej. Znajdą tu Państwo również informacje kontaktowe.
        </p>
        <p><i>Dziękujemy, że są Państwo z Nami.<br /> Z wyrazami szacunku<br /> Dyrekcja i Zespół Pracowników</i></p>
        <hr />

        <h2>Dla pracownika</h2>

        <h5>Świadczone usługi:</h5>
        <ul>
            <li>sprawdzenie kalendarza wizyt</li>
            <li>dostęp do historii choroby danego pacjenta</li>
            <li>wgląd do wyników badań danego pacjenta</li>
            <li>wystawianie recept</li>
            <li>dodawanie wpisów do karty pacjenta</li>
        </ul>
        <p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
        <hr />

        <h2>Dla pacjenta</h2>
        <h5>Świadczone usługi:</h5>
        <ul class="services">
            <li>rejestracja na wizytę</li>
            <li>odwołanie wizyty</li>
            <li>dostęp do historii wszystkich swoich działań</li>
            <li>przeglądanie listy lekarzy</li>
            <li>szybki kontakt za pomocą formularza</li>
        </ul>
        <p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
    </div>
</div>




