@{
<<<<<<< HEAD
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="col-md-8">
        <h2>Start</h2>
        <hr />
        <h3><b>Szanowni Państwo,</b></h3>
        <p>serdecznie witamy w systemie obsługi naszej przychodni lekarskiej. Powstał on w związku z troską o klienta, w celu ułatwienia wszystkim użytkownikom korzystania z naszych usług.</p>
        <p>Służymy Państwu pomocą już od 2018 roku. W naszej pracy stawiamy przede wszystkim na jakość, jak najlepsze podejście do klienta oraz świadczenie usług tylko w sposób profesjonalny.
            Chcielibyśmy, aby każdy korzystający z sytemu obdarzył nas zaufaniem oraz czuł, że jego życie właśnie stało się prostsze dzięki możliwości zdalnej obsługi.</p>
        <p>Dla nas każdy użytkownik jest ważny! Dziękujemy wszystkim, którzy zdecydowali się skorzystać z naszych usług, mamy nadzieję, że będą Państwo usatysfakcjonowani. W razie jakichkolwiek uwag, bardzo prosimy o kontakt.</p>
        <p>Aby uzyskać pełen dostęp do serwisu, należy najpierw się zalogować. Jeśli nie posiadają Państwo konta, zachęcamy do rejestracji.
            Zapraszamy do zapoznania się z ofertą świadczonych przez nas usług poniżej. Znajdą tu Państwo również informacje kontaktowe.</p>
        <p><i>Dziękujemy, że są Państwo z Nami.</br> Z wyrazami szacunku</br> Dyrekcja i Zespół Pracowników</i></p>
    </div>
</div>
=======
    ViewBag.Title = "Przychodnia";
    Layout = "_Layout";
}

<div id="start" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Start</span>
    </div>
    <div class="col-lg-10">
        <h4>Szanowni Państwo,</h4>
        <p>serdecznie witamy w systemie obsługi naszej przychodni lekarskiej. Powstał on w związku z troską o klienta, w celu ułatwienia wszystkim użytkownikom korzystania z naszych usług.</p>
        
        <p>Służymy Państwu pomocą już od 2018 roku. W naszej pracy stawiamy przede wszystkim na jakość, jak najlepsze podejście do klienta oraz świadczenie usług tylko w sposób profesjonalny.
        Chcielibyśmy, aby każdy korzystający z sytemu obdarzył nas zaufaniem oraz czuł, że jego życie właśnie stało się prostsze dzięki możliwości zdalnej obsługi.</p>

        <p>Dla nas każdy użytkownik jest ważny! Dziękujemy wszystkim, którzy zdecydowali się skorzystać z naszych usług, mamy nadzieję, że będą Państwo usatysfakcjonowani. W razie jakichkolwiek uwag, bardzo prosimy o kontakt.</p>

         <p>Aby uzyskać pełen dostęp do serwisu, należy najpierw się zalogować. Jeśli nie posiadają Państwo konta, zachęcamy do rejestracji.
        Zapraszamy do zapoznania się z ofertą świadczonych przez nas usług poniżej. Znajdą tu Państwo również informacje kontaktowe.</p>

        <p><i>Dziękujemy, że są Państwo z Nami.</br>
        Z wyrazami szacunku</br>
        Dyrekcja i Zespół Pracowników</i></p>
    </div>
</div>
<div id="patient_service" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Dla pacjenta</span>
    </div>
    <div class="col-lg-10">
        <h5>Świadczone usługi:</h5></br>
        <ul class="services">
            <li>rejestracja na wizytę</li>
            <li>odwołanie wizyty</li>
            <li>dostęp do historii wszystkich swoich działań</li>
            <li>przeglądanie listy lekarzy</li>
            <li>szybki kontakt za pomocą formularza</li>
        </ul></br>
        <p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
    </div>
</div>
<div id="employee_service" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Dla pracownika</span>
    </div>
    <div class="col-lg-10">
        <h5>Świadczone usługi:</h5></br>
        <ul class="services">
            <li>sprawdzenie kalendarza wizyt</li>
            <li>dostęp do historii choroby danego pacjenta</li>
            <li>wgląd do wyników badań danego pacjenta</li>
            <li>wystawianie recept</li>
            <li>dodawanie wpisów do karty pacjenta</li>
        </ul></br>
        <p id="invite"><i>Serdecznie zapraszamy do skorzystania z naszych usług.</i></p>
    </div>
</div>
<div id="contact" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Kontakt</span>
    </div>
    <div id="" class="col-lg-10">
        <div id="address" class="contact">01-001 Kraków</br>ul.Krakowska 1</div></br>
        <div id="mail" class="contact">kontakt@przychodnia-lekarska.pl</div></br>
        <div id="phone" class="contact">Rejestracja: 12 987 65 43</br>Obsługa klienta: 12 345 67 89</div></br>
        <div id="staff" class="contact">Dyrektor:</br><b>Jan Kowalski</b></br>Telefon: 123 456 789</div></br>
        <p><i>Szczegółowe informacje kontaktowe dostępne będą po zalogowaniu się. W razie pytań lub uwag, zachęcamy do skorzystania z formularza kontaktowego.</i></p></br>
        <h5>Napisz do nas:</h5></br>
        <div id="contact_form"></div>
    </div>
</div>

>>>>>>> origin/master
