@{
    Layout = "_Layout";
}

<div id="aboutus" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>O nas</span>
    </div>
    <div class="col-lg-10">
        Treść
    </div>
</div>
<div id="" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Usługi</span>
    </div>
    <div class="col-lg-10">
        Treść
    </div>
</div>
<div id="contact" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Kontakt</span>
    </div>
    <div id="" class="col-lg-10">
        Treść
    </div>
</div>
<div id="" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Tytuł</span>
    </div>
    <div id="" class="col-lg-10">
        Treść
    </div>
</div>
<div id="" class="row justify-content-around content">
    <div class="col-lg-1 title">
        <span>Tytuł</span>
    </div>
    <div id="" class="col-lg-10">
        Treść
    </div>
</div>

