@{
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="col-md-12">
        <h2>Start</h2>
        <hr />
        <h3><b>Szanowni Państwo,</b></h3>
        <p>serdecznie witamy w systemie obsługi naszej przychodni lekarskiej. Powstał on w związku z troską o klienta, w celu ułatwienia wszystkim użytkownikom korzystania z naszych usług.</p>
        <p>Służymy Państwu pomocą już od 2018 roku. W naszej pracy stawiamy przede wszystkim na jakość, jak najlepsze podejście do klienta oraz świadczenie usług tylko w sposób profesjonalny.
            Chcielibyśmy, aby każdy korzystający z sytemu obdarzył nas zaufaniem oraz czuł, że jego życie właśnie stało się prostsze dzięki możliwości zdalnej obsługi.</p>
        <p>Dla nas każdy użytkownik jest ważny! Dziękujemy wszystkim, którzy zdecydowali się skorzystać z naszych usług, mamy nadzieję, że będą Państwo usatysfakcjonowani. W razie jakichkolwiek uwag, bardzo prosimy o kontakt.</p>
        <p>Aby uzyskać pełen dostęp do serwisu, należy najpierw się zalogować. Jeśli nie posiadają Państwo konta, zachęcamy do rejestracji.
            Zapraszamy do zapoznania się z ofertą świadczonych przez nas usług poniżej. Znajdą tu Państwo również informacje kontaktowe.</p>
        <p><i>Dziękujemy, że są Państwo z Nami.</br> Z wyrazami szacunku</br> Dyrekcja i Zespół Pracowników</i></p>
    </div>
</div>
