@{
    ViewBag.Title = "Przychodnia - Rejestracja";
    Layout = "_Layout";
}

<form name="signup" action="" method="get">
    <div class="row justify-content-center form-header">
        <div class="col-lg-12 align-self-center">
            <span>Zarejestruj się</span>
        </div>
    </div>
    <div class="row justify-content-center form-content">
        <div class="col-lg-12 align-self-center">
            <label><span>Imię </span><input type="text" name="first-name"></label>
        </div>
    </div>
    <div class="row justify-content-center form-content">
        <div class="col-lg-12 align-self-center">
            <label><span>Nazwisko </span><input type="text" name="last-name"></label>
        </div>
    </div>
    <div class="row justify-content-center form-content">
        <div class="col-lg-12 align-self-center">
            <label><span>Email </span><input type="text" name="email"></label>
        </div>
    </div>
    <div class="row justify-content-center form-content">
        <div class="col-lg-12 align-self-center">
            <label><span>Hasło </span><input type="password" name="password"></label>
        </div>
    </div>
    <div class="row justify-content-center form-content">
        <div class="col-lg-12 align-self-center">
            <label><span>Powtórz hasło </span><input type="password" name="repeat-password"></label>
        </div>
    </div>
    <div class="row justify-content-center">
        <div>
            <input type="submit" class="btn btn-secondary" value="Zarejestruj">
        </div>
    </div>
</form>

