@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Wizyta</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li id="your_account_li"><a asp-area="" asp-controller="Patient" asp-action="VisitRegistration">Zapisz się na wizytę</a></li>
                <li id="your_account_li"><a asp-area="" asp-controller="Patient" asp-action="CancelVisit">Odwołaj wizytę</a></li>
            </ul>
        </div>
        <div class="col-md-10 acc">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}