@model MedicalClinic.Models.PatientViewModels.VisitRegistrationViewModel

@{
    ViewData["Title"] = "Rejestracja na wizytę";
}

<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

<h3><b>Dostępne godziny - @Html.DisplayFor(model => model.DayofWeek)</b></h3>
<form asp-action="VisitRegistration">
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group form-group">
        @foreach (string hour in Model.Hours)
        {
            <input type="button" class="btn btn-default" value="@Html.DisplayFor(model => hour)">
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Zapisz się" class="btn btn-default" />
    </div>
</form>
